In [ ]:
# variable declaration 
# printing in python
# comments - single line and multi line
# case sensitiveness
# whitespace
# knowing the datatype
# multiple variable decalaration
# typecasting
# format 
# operators

variable declaration

In [2]:
a =10
b=4.5
c='hi'
d = "welcome"

print(a)
print(b)
print(c)
print(d)

10
4.5
hi
welcome

In [3]:
name = "python"

print(name)

python

Printing in python

In [4]:
print('welcome')

welcome

In [5]:
print('good morning')

good morning

In [7]:
name = 'rohit'

print('hello',name) # concatenation ,

hello rohit

In [8]:
name ='rohit'
course = 'python'
rank = 1

# rohit is studying python and got 1 rank

print(name,'is studying',course,'and got',rank,'rank')

rohit is studying python and got 1 rank

In [9]:
a=12
b=34
c=a+b

print('the answer is ',c)

the answer is  46

In [ ]:
datatype 

number - int - wholenumber 
float  - 4.5
string - '' or ""

comments

In [10]:
a=10
b=34
c=a+b # a and b are added
print(c)

44

In [ ]:
''''dfygdfgdhfh
fhgdhfdfgdf
fhdfdgdhf'''

case sensitiveness - uppercase , lowercase ,capitialize

In [11]:
a=10
print(A)

NameError: name 'A' is not defined

In [12]:
A=45
print(A)

45

In [13]:
print('chennai')

chennai

In [14]:
Print('delhi')

NameError: name 'Print' is not defined

whitespace in python

In [15]:
a=10
b=20
c=                              30


print(a)
print(b)
print(c)

10
20
30

In [16]:
a="       40"

print(a)

       40

knowing the datatype

In [20]:
a=12
b=4.5
c='hi'
d="hello"


print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [21]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']